body {
  font-family: Happy Monkey;
  text-align: center;
  font-size: x-large;
  color: white;
  background: #a2d2ff;
  text-shadow: 0px 0px 1px black;
}

#elon {
  border-radius: 50%;
  border: 6px solid #EFB0C9;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

#bday-age, #bday-date {
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 6px;
  margin-bottom: 0px;
  margin-top: 15px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift {
  width: 400px;
  height: 400px;
  background-image: url(./images/gift.jpeg);
  border: 6px solid white;
  border-radius: 10px;
  margin: 0px auto;
  background-size: cover;
}

.gift-h2 {
  margin-top: 50px;
}

.gift:hover {
  background-image: url(./images/elontesla.jpeg);
}

